@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.container{
text-align: center;
background-image: url(index.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: grid; 
grid-template-columns: 0.6fr 1.5fr 0.6fr; 
grid-template-rows: 0.6fr 4.8fr 0.6fr; 
grid-template-areas: 
  "head head head"
  "main main main"
  "foot foot foot"; 
  list-style-type: none;
  min-height: 100vh;
}
body{
    margin:0px;
    color: azure;
    height: 100%;
}
header{
  grid-area: head;
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: row;
}
menu{
display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: flex-end;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 3vw;
  color: azure;
}
.nav:hover{
  transform: scale(1.1);
}
main{
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.6fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "asid1 sec asid2"
    "asid1 sec asid2"; 
    grid-area: main;
}

footer{
    grid-area: foot;
    height: 100%;
}
#asid1{
    grid-area: asid1;
}
#asid2{
    grid-area: asid2;
}
section{
    grid-area: sec;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
article{
    display: flex;
    flex-direction: column;
    height: 16vw;
    width: 18vw;
}
#logo{
  height: 6vw;
  width: 10vw;
  border-radius: 0%;
  margin: 0;
  justify-content: flex-end;
}
img{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: blur(1px);
}
li{
    text-decoration:none;
}
h4{
    font-size:2vw;
    filter: blur(1px);
}
a{
    filter: blur(1px);
    font-size:3vw;
    width: 100%;
    height: 100%;
    text-decoration:none;
    color: azure;
}
ol {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:2vw;
    height:2vw;
    line-height:2vw;
    text-align:center;
    background-color:#74551cb4;
  }
  ol > li {
    float:left;
    background-color:#74551cb4;
    width:20vw;
    height: 7vw;

  }
  
ol a {
    display:block;
    color:#000;
    text-decoration:none;
    padding:0 5px;
  }

  
  ol > li:hover {
    background-color:#74551cb4;
  }
  ol > li > ul {
    list-style-type:none;
    padding:0;
    margin:0;
  }
  ol > li:first-child {
    margin-left:0;
  }
  
ol {
    background-color:#74551cb4;
  }
  
  ol > li > ul > li {
    background-color:#74551cb4;
  }
  ol > li > ul > li:hover {
    background-color:#74551cb4;
  }
  
  ol > li > ul > li:hover a {
    color:azure;
  }
  ol > li > ul {
    display:none;
  }
  
  ol > li:hover > ul {
    
    display:block;
  }
  ol > li:hover{
    color: azure;
  }



  *, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto Slab", serif;
  }
  
  .morphing {
    position: relative;
    font-size: 4vw;
    background-color: #000;
    color: #fff;
    min-height: 20vw;
    filter: contrast(25) blur(1px);
  }
  
  .word {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: word 16s infinite ease-in-out;
  }
  .word:nth-child(1) {
    animation-delay: -16s;
  }
  .word:nth-child(2) {
    animation-delay: -14s;
  }
  .word:nth-child(3) {
    animation-delay: -12s;
  }
  .word:nth-child(4) {
    animation-delay: -10s;
  }
  .word:nth-child(5) {
    animation-delay: -8s;
  }
  .word:nth-child(6) {
    animation-delay: -6s;
  }
  .word:nth-child(7) {
    animation-delay: -4s;
  }
  @keyframes word {
    0%, 5%, 100% {
      filter: blur(0px);
      opacity: 1;
    }
    20%, 80% {
      filter: blur(1em);
      opacity: 0;
    }
  }
#sit1:hover{
    transform: scale(1.1);
}
#sit2:hover{
    transform: scale(1.1);
}
#sit3:hover{
    transform: scale(1.1);
}
#sit4:hover{
    transform: scale(1.1);
}
h1{
    filter: blur(1px);
    font-size: 3vw;
}
footer{
  text-align: center;
  display: flex;
  align-content: end;
}
@media screen and (max-width:576px){
main{
  grid-template-columns: 1fr 2.2fr 1fr;
  grid-template-rows: 0.8fr 1fr 1fr; 
  grid-template-areas: 
    "sec sec sec"
    "asid1 null asid2"
    "asid1 null asid2";
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}
.container{
  grid-template-rows: 0.5fr 5fr 0.3fr; 
  /* background-color: rgb(66, 65, 65);
  background-image: none; */
  grid-template-rows: 0.6fr 6fr 0.6fr;
}
h1{
  font-size: 7vw;
  filter: blur(0px);
}
h4{
  filter: blur(0px);
  font-size: 3vw;
}
img{
  filter: blur(0px);
}
article{
  height: 35vw;
  width: 35vw;
}
aside{
  /* height: 50vw; */
}
.word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: word 16s infinite ease-in-out;
}
.morphing {
  position: relative;
  font-size: 8vw;
  background-color: #000;
  color: #fff;
  min-height: 15vw;
  filter: contrast(25) blur(1px);
}
.nav{
  margin: 3vw;
  width: 24vw;
  height: 16vw;
}
a{
  filter: blur(0px);
  font-size: 6vw;

}
h3{
  font-size: 4vw;
}
}