.container{
height: 100%;
width: 100%;
}
main{
    display: flex;
}
#sit1{
    display: flex;
    height: 6em;
    width: 8em
}
#sit2{
    display: flex;
    height: 6em;
    width: 8em
}
#sit3{
    display: flex;
    height: 6em;
    width: 8em
}
#sit4{
    display: flex;
    height: 6em;
    width: 8em
}
img{
    height: 100%;
    width: 100%;
}